<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junwang.volleyball">

    <application
        android:allowBackup="true"
        android:icon="@drawable/volleyball"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".stat.StatActivity"
            android:label="@string/title_activity_stat"></activity>
        <activity
            android:name=".players.PlayersActivity"
            android:label="@string/title_activity_players"></activity>
        <activity
            android:name=".prepare.PrepareActivity"
            android:label="@string/title_activity_prepare"></activity>
        <activity
            android:name=".stats.StatsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".report.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".sync.SyncActivity"
            android:label="@string/title_activity_sync"
            android:theme="@style/AppTheme"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
</manifest>